build
node_modules

# ignore env
.env

# ignore media, config and views folder in development
/config/*
/media/*
/src/views/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
