@import 'tailwindcss';
@config '../../tailwind.config.mjs';

/* Default Lingarr theme */
@layer base {
    :root {
        --primary: #1a202c;
        --primary-content: #c0c8d2;
        --secondary: #242d3c;
        --secondary-content: #d2d7dc;
        --tertiary: #1f2734;
        --tertiary-content: #c0c8d2;
        --accent: #466e8c;
        --accent-content: #c0c8d2;
    }
}

.solarized-light {
    --primary: #fdf6e3;
    --primary-content: #586e75;
    --secondary: #eee8d5;
    --secondary-content: #657b83;
    --tertiary: #f5efdc;
    --tertiary-content: #586e75;
    --accent: #268bd2;
    --accent-content: #f5efdc;
}

.solarized-dark {
    --primary: #002b36;
    --primary-content: #fdf6e3;
    --secondary: #073642;
    --secondary-content: #eee8d5;
    --tertiary: #04313c;
    --tertiary-content: #fdf6e3;
    --accent: #2aa198;
    --accent-content: #fdf6e3;
}

.dracula {
    --primary: #282a36;
    --primary-content: #f8f8f2;
    --secondary: #44475a;
    --secondary-content: #f8f8f2;
    --tertiary: #363948;
    --tertiary-content: #f8f8f2;
    --accent: #bd93f9;
    --accent-content: #f8f8f2;
}

.nord {
    --primary: #2e3440;
    --primary-content: #d8dee9;
    --secondary: #3b4252;
    --secondary-content: #e5e9f0;
    --tertiary: #353b49;
    --tertiary-content: #d8dee9;
    --accent: #5e81ac;
    --accent-content: #e5e9f0;
}

.monokai {
    --primary: #272822;
    --primary-content: #f8f8f2;
    --secondary: #3a3b35;
    --secondary-content: #f8f8f2;
    --tertiary: #31322c;
    --tertiary-content: #f8f8f2;
    --accent: #66d9ef;
    --accent-content: #f8f8f2;
}

.cyberpunk-neon {
    --primary: #121212;
    --primary-content: #ffffff;
    --secondary: #1e1e1e;
    --secondary-content: #00ffff;
    --tertiary: #181818;
    --tertiary-content: #ff00ff;
    --accent: #ff0084;
    --accent-content: #ffff00;
}

.material-dark {
    --primary: #212121;
    --primary-content: #ffffff;
    --secondary: #303030;
    --secondary-content: #ffffff;
    --tertiary: #292929;
    --tertiary-content: #ffffff;
    --accent: #03a9f4;
    --accent-content: #ffffff;
}

.horizon {
    --primary: #29113f;
    --primary-content: #fff5f5;
    --secondary: #371950;
    --secondary-content: #fff5f5;
    --tertiary: #301548;
    --tertiary-content: #fff5f5;
    --accent: #f472b6;
    --accent-content: #fff5f5;
}

.gruvbox {
    --primary: #1d2021;
    --primary-content: #ebdbb2;
    --secondary: #282828;
    --secondary-content: #ebdbb2;
    --tertiary: #232425;
    --tertiary-content: #ebdbb2;
    --accent: #fb4934;
    --accent-content: #ebdbb2;
}

.gotham {
    --primary: #0a0f19;
    --primary-content: #c5c8c6;
    --secondary: #17202a;
    --secondary-content: #d6d8d6;
    --tertiary: #111822;
    --tertiary-content: #c5c8c6;
    --accent: #5e81ac;
    --accent-content: #d6d8d6;
}

*::-webkit-scrollbar {
    @apply h-2 w-1;
}

*::-webkit-scrollbar-track {
    @apply bg-primary;
}

*::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-md;
    @apply h-2 w-2;
}

.shell-scroll::-webkit-scrollbar {
    width: 0.5rem;
}

.shell-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.shell-scroll::-webkit-scrollbar-thumb {
    background: #242d3c;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
