@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    @apply w-2 h-2;
}

*::-webkit-scrollbar-track {
    @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
    @apply rounded-md bg-accent;
    @apply w-2 h-2;
}
